Source: docfx
Section: devel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://dotnet.github.io/docfx/
Vcs-Git: https://github.com/dlech/docfx-deb.git
Vcs-Browser: https://github.com/dlech/docfx-deb

Package: docfx
Architecture: all
Depends: mono-runtime | cli-runtime, ${misc:Depends}
Description: Tools for building and publishing API documentation for .NET projects
 DocFX makes it extremely easy to generate your developer hub with API
 reference, landing page, and how-to. We currently support C# and VB projects.
